<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>

<main>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <h2>Vision Statement</h2>
                <p>
                    For home cooks, both beginners and masters looking to try new recipes. Chef It Up is a recipe search that filters recipes by difficulty, cook time, and more. Unlike other recipe sites, our product is focused on personalization and suiting your needs.
                </p>
                <h2>Description</h2>
                <p>Chef It Up is a culinary companion that helps users sift through a multitude of recipes to find the perfect match for their culinary skills, busy schedules, and more.
                <p>By offering a user-friendly interface, our application streamlines the process finding dining recipes using Spoonacular, encouraging users to explore while having fun in the kitchen. </p>
                <p>Our application aims to be a versatile tool in meal planning and preparation to help you find recipes that fit your needs. With an emphasis on personalization, Chef It Up ensures that your experience is unique and suited to your taste, making cooking at home more accessible and enjoyable.</p>
                </p>
                <h2>How To Use</h2>
                <p>Login to your account. If you don't have one yet, create one on the registration page.</p>
                <p>Once you're logged in, use the dropdown menus to filter our recipe database and find dishes that meet your exact specifications.</p>
                <p>After submitting your filters, a table of results will be presented and simply select the one that is the most appealing to you. Once you find a recipe that matches what you're looking for, you will be given a variety of online recipes to find a perfect match.</p>
                </p>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
</main>

<%- include ('../partials/footer') %>