<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>

<main>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <h1>Vision Statement</h1>
                <p>
                    For home cooks, both beginners and masters looking to try new recipes. Chef It Up is a recipe search that filters recipes by difficulty, cook time, and more. Unlike other recipe sites, our product offers more customization and better features. 
                </p>
                <h1>Description</h1>
                <p>Chef It Up is a culinary companion that helps users sift through a multitude of recipes to find the perfect match for their culinary skills, busy schedules, and more.
                <p>By offering a user-friendly interface, our application streamlines the process of dining recipes on Google that can be hindered by paywalls or pop-up ads, encouraging users to explore while having fun in the kitchen. </p>
                <p>Our application aims to be a versatile tool in meal planning and preparation. It goes beyond simple filtering, as it offers our users to save recipes they've tried. With an emphasis on personalization, Chef It Up ensures that your experience is unique and suited to your taste, making cooking at home more accessible and enjoyable.</p>
                </p>
            </div>
        </div>
    </div>
</main>

<%- include ('../partials/footer') %>