<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>

<main>
    <div class="container">
        <form action="/discover" method="get">
            
        </form> 
    </div>
</main>

<%- include ('../partials/footer') %>