do<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>

<main>
    <div class="container">
        <form action="/discover" method="GET">
            <div class="mb-3">
                <input class="form-control" type="text" autofocus autocomplete="off" id="query" name="query" placeholder="Keyword" required/>
            </div>
            <label>
                <input type="radio" name="cuisine" value="African"> African
              </label>
        
              <label>
                <input type="radio" name="cuisine" value="Asian"> Asian
              </label>
        
              <label>
                <input type="radio" name="cuisine" value="American"> American
              </label>
              <label>
                <input type="radio" name="cuisine" value="British"> British
              </label>
              
              <label>
                <input type="radio" name="cuisine" value="Cajun"> Cajun
              </label>
              
              <label>
                <input type="radio" name="cuisine" value="Caribbean"> Caribbean
              </label>
              
              <label>
                <input type="radio" name="cuisine" value="Chinese"> Chinese
              </label>
              
              <label>
                <input type="radio" name="cuisine" value="Eastern European"> Eastern European
              </label>
              
              <label>
                <input type="radio" name="cuisine" value="European"> European
              </label>
              
              <label>
                <input type="radio" name="cuisine" value="French"> French
              </label>
              
              <label>
                <input type="radio" name="cuisine" value="German"> German
              </label>
              
              <label>
                <input type="radio" name="cuisine" value="Greek"> Greek
              </label>
              
              <label>
                <input type="radio" name="cuisine" value="Indian"> Indian
              </label>
              
              <label>
                <input type="radio" name="cuisine" value="Irish"> Irish
              </label>
              
              <label>
                <input type="radio" name="cuisine" value="Italian"> Italian
              </label>
              
              <label>
                <input type="radio" name="cuisine" value="Japanese"> Japanese
              </label>
              
              <label>
                <input type="radio" name="cuisine" value="Jewish"> Jewish
              </label>
              
              <label>
                <input type="radio" name="cuisine" value="Korean"> Korean
              </label>
              
              <label>
                <input type="radio" name="cuisine" value="Latin American"> Latin American
              </label>
              
              <label>
                <input type="radio" name="cuisine" value="Mediterranean"> Mediterranean
              </label>
              
              <label>
                <input type="radio" name="cuisine" value="Mexican"> Mexican
              </label>
              
              <label>
                <input type="radio" name="cuisine" value="Middle Eastern"> Middle Eastern
              </label>
              
              <label>
                <input type="radio" name="cuisine" value="Nordic"> Nordic
              </label>
              
              <label>
                <input type="radio" name="cuisine" value="Southern"> Southern
              </label>
              
              <label>
                <input type="radio" name="cuisine" value="Spanish"> Spanish
              </label>
              
              <label>
                <input type="radio" name="cuisine" value="Thai"> Thai
              </label>
              
              <label>
                <input type="radio" name="cuisine" value="Vietnamese"> Vietnamese
              </label>
              
        </form> 
    </div>
</main>

<%- include ('../partials/footer') %>