<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>

<main>
    <div class="container">
        <form action="/discover" method="GET">
            <div class="mb-3">
                <input class="form-control" type="text" autofocus autocomplete="off" id="query" name="query" placeholder="Keyword" required/>
            </div>
              <input type="submit" id="Search" value="Search Recipes" class="btn btn-primary"/>
        </form> 
    </div>
</main>

<%- include ('../partials/footer') %>