<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>

<main>
  <br><br>
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="form-group col-md-4" style="background-color: #f4f4f4; padding: 50px; border-radius: 10px;" >
            <form action="/login" method="POST">
                <div class="mb-3">
                    <input class="form-control" type="text" autofocus autocomplete="off" id="name" name="name" placeholder="Username" required/>
                </div>
                <div class="mb-3">
                    <input class="form-control" type="password" id="password" name="password" placeholder="Password" required />
                </div>
                <div class="text-center mb-3">
                    <input type="submit" id="login" value="Login" class="btn btn-primary px-5"/>
                </div>
                <p class="text-center"> Don't have an account? <a href="/register"class="fw-6">Register</a></p>
            </form>
        </div>
    </div>
  </main>

<%- include ('../partials/footer') %>